.row {
    display: block;
    justify-content: space-between;
    @media (min-width: $mobile-breakpoint) {
        display: flex;
    }
}
.col:nth-child(1) {
    flex: 2;
}
.col:nth-child(2) {
    flex: 1;
}