//** Structure **//
$content-width: 1260px;
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;

//** Fonts and typography **//
$regular-font-family: 'Futura PT', sans-serif;
$regular-font-weight: 400;
$regular-font-style: normal;
$regular-font-size: 2rem;
$regular-line-height: 1.65;
$bold-font-weight: 700;
$heading-font-family: 'Rye', serif;
$heading-font-weight: 400;
$heading-font-style: normal;

//** Colors **//
$black: #333;
$white: #fff;
$grey1: #fefefe;
$grey2: #ddd;
$grey3: #484848;
$red: #e62e2e;