.comment {
  max-width: 640px;
  font-size: .9em;
  display: flex;
  margin: 2rem 0;
  .comment-avatar-container {
    width: 60px;
  }
  .comment-container {
    padding: 0 1rem;
  }
  .comment-author {
    font-weight: $bold-font-weight;
    margin-right: .75rem;
    max-width: 300px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .comment-date {
    color: #666;
  }
  header {
    display: flex;
    padding: 0;
    font-size: 1em;
  }
  .comment-actions {
    position: relative;
    top: -1.15rem;
  }
}

.reply {
  max-width: 540px;
  margin-left: 60px;
  font-size: 1em;
  display: flex;
  margin: 1rem 0;
  .reply-avatar-container {
    width: 40px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  .reply-container {
    padding: 0 1rem;
  }
  .reply-author {
    font-weight: $bold-font-weight;
    margin-right: .75rem;
    max-width: 300px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .reply-date {
    color: #666;
  }
  header {
    display: flex;
    padding: 0;
    font-size: 1em;
  }
}

#new-comment-form {
  max-width: 640px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $grey2;
}

#comment-section {
  max-width: 640px;
  margin: 0 auto;
}

.error-message {
  display: none;
  transition: .15s ease;
  border: 1px solid $red;
  padding: 1rem;
  margin: 2rem 0;
  font-size: .9em;
  text-align: center;
  border-radius: 5px;
  line-height: 1.2;
  background: lighten($red, 30%);
}

.no-comments-message {
  font-size: .9em;
  text-align: center;
  display: none;
  color: #666;
  margin: 2rem 0;
}

a.comment-reply {
  color: #a7a7a7;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  &:hover {
    background: none;
    color: $red;
  }
  &::after {
    content: '';
  }
}

#reply-preview {
  display: none;
  border: 1px solid $grey2;
  border-radius: 5px;
  margin: 2rem 0;
  padding: 1rem 1rem 0 1rem;
}

.lds-ring {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $grey2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $grey2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
