header {
  padding: 4rem 0 6rem 0;
  h1 {
    font-size: calc(45px + (60 - 45) * ((100vw - 300px) / (1260 - 300)));
    a:hover {
      background: none;
      color: $red;
    }
  }
  .mobile-image {
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    border: 2px solid $black;
    width: 100px;
    object-position: top;
    padding-top: 8px;
    display: block;
    margin: 0 auto 2rem auto;
    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }
}