html {
  font-size: 62.5%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Muli", sans-serif;
}

h1 {
  font-family: "Rye";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  font-size: 6rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

a {
  color: #000;
  text-decoration: none;
  border-radius: 0.1em;
  transition: 0.3s ease-out;
  padding: 0 0.1em;
}

main a,
aside a {
  background: rgba(58, 104, 255, 0.1);
}

a:hover {
  background: rgba(58, 104, 255, 0.3);
}

#page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

#page-wrapper > aside {
  order: 2;
  padding: 2rem;
  border: 1px solid#ddd;
  border-radius: 1rem;
  background: #fefefe;
  /* box-shadow: 0 0 2px rgba(0,0,0,0.15); */
  margin-bottom: 4rem;
}

.sidebar-image {
  width: 20rem;
}

@media (min-width: 768px) {
  #page-wrapper {
    flex-direction: row;
    flex: 1;
  }
  #page-wrapper > main {
    flex: 1;
  }
  #page-wrapper > aside {
    flex: 0 0 24rem;
  }
  .sidebar-image {
    width: 100%;
  }
}

footer {
  height: 8rem;
  padding: 2rem;
  border-top: 1px solid#ddd;
  background: #fefefe;
  text-align: center;
}

img {
  max-width: 100%;
}


