<section id="comment-section">
  <form id="new-comment-form">
    <input type="text" name="name" id="comment-name" placeholder="Your name">
    <textarea name="content" id="comment-content" placeholder="Your comment"></textarea>
    <input type="text" readonly hidden name="slug" value="{{ .File.BaseFileName }}">
    <input type="text" name="password" style="display:none !important" tabindex="-1" autocomplete="off">
    <p class="form-text">Markdown supported.</p>
    <button type="submit" id="comment-submit">Add comment</button>
    <div class="comment-error">There was a problem adding your comment. Make sure you've filled in all the fields
      and try again in a second.</div>
  </form>
  <div id="comments-container">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>
<script>
  function formatDate(date) {
    var monthNames = [
      "January", "February", "March",
      "April", "May", "June", "July",
      "August", "September", "October",
      "November", "December"
    ];

    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();

    return day + ' ' + monthNames[monthIndex] + ' ' + year;
  }

  function parseComment(data) {
    const commentsContainer = $('#comments-container')
    const date = formatDate(new Date(data.date))
    commentsContainer.prepend(`
      <div class='comment'>
        <aside>
          <div class='comment-avatar-container'>
           ${data.avatar}
          </div>
        </aside>
        <section class='comment-container'>
          <header>
            <div class='comment-author'>${data.name}</div>
            <div class='comment-date'>${date}</div>
          </header>
          <article class='comment-content'>
            ${data.content}
          </article>
        </section>
      </div>
    `)
  }

  $(document).ready(function () {
    $.get('https://comments.wondering.monster/fetch/{{ .File.BaseFileName }}', function (response) {
      if (response.status === "ok") {
        $(".lds-ring").css("display", "none")
        let comments = response.comments;
        comments.forEach(function (comment) {
          parseComment(comment)
        })
      }
    })
    $('#comment-submit').click(function (e) {
      e.preventDefault();
      var data = $('#new-comment-form').serialize();
      $.post('https://comments.wondering.monster/create', data, function (response) {
        if (response.status === "ok") {
          parseComment(response)
          $('.comment-error').css('display', 'none')
          $('#comment-name, #comment-content').val("")
        } else {
          console.error(response)
          $('.comment-error').css('display', 'block')
        }
      })
        .fail(function (response) {
          console.error(response)
          $('.comment-error').css('display', 'block')
        })
    })
  })
</script>