{{ if or .Paginator.HasPrev .Paginator.HasNext }}
<div class="pagination">
  {{ if .Paginator.HasPrev }}
  <div>
    <a class="no-after" href="{{ .Paginator.Prev.URL }}"><i class="fal fa-long-arrow-left"></i> Newer Posts</a>
  </div>
  {{ end }}
  <div>
    Page <span class="strong">{{ .Paginator.PageNumber }}</span> of <span
      class="strong">{{ .Paginator.TotalPages }}</span>
  </div>
  <div>
    {{ if .Paginator.HasNext }}
    <a class="no-after" href="{{ .Paginator.Next.URL }}">Older Posts <i class="fal fa-long-arrow-right"></i></a>
    {{ end }}
  </div>
</div>
{{ end }}