<aside id="sidebar">
  <div>
    <div class="sidebar__header">
      <div>
        <img class="sidebar-image" src="/images/wondering-monster-aldrovandi.png" />
      </div>
      <div>
        <p class="intro-text">A blog of indie RPG, D&D and OSR homebrew, adventures, and other curiosities compiled (primarily for
          personal pleasure) by <a href="https://raphaelkabo.com">Raphael Kabo</a>.</p>
      </div>
    </div>
    <div>
      <h5>Get updates by email</h5>
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://monster.us19.list-manage.com/subscribe/post?u=7bb643c9473690adda926329d&amp;id=f1e29cc726" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7bb643c9473690adda926329d_f1e29cc726" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
    <div>
      <h5>Latest posts</h5>
    </div>
    <div>
      <ul class="fa-ul post-list">
        {{ range first 5 .Site.RegularPages }}
        <li><span class="fa-li">{{ index $.Site.Data.icons.icons .Params.Categories | safeHTML }}</span> <a
            href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div>
      <h5>Categories</h5>
    </div>
    <div>
      <ul class="fa-ul post-list">
        {{ range $key, $value := .Site.Taxonomies.categories }}
        <li><span class="fa-li">{{ index $.Site.Data.icons.icons ($key | humanize) | safeHTML }}</span>
          <a class="no-after" href="{{ "/categories/" | relURL }}{{ $key | urlize  }}">{{ $key | humanize }}</a> <span
            class="badge">{{ len $value }}</span>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>


</aside>