{{ define "main" }}
<div id="page-wrapper">
  <main>
    <article>
      <h3>{{ .Title }}</h3>
      <div class="content monster-post">
        <div class="row">
          <div class="col">
            <div class="monster__stat-block">
              <dl>
                <dt class="monster__stat-block__hd">Hit dice</dt>
                <dd data-hd="{{.Params.hd}}"><span class="value">{{.Params.hd}}</span><span
                    class="result"></span><button type="button" class="roll-hp"><i class="fal fa-dice-d20"></i> Roll
                    HP</button></dd>
                <dt class="monster__stat-block__ac">Armor defence</dt>
                <dd data-ac="{{.Params.ac}}">{{.Params.ac}}</dd>
                <dt class="monster__stat-block__attacks">Attacks</dt>
                <dd>{{ if .Params.attacks }}{{ delimit .Params.attacks "; "}}{{ end }}</dd>
                <dt class="monster__stat-block__morale">Morale</dt>
                <dd>{{.Params.morale}}</dd>
                <dt class="monster__stat-block__size">Size</dt>
                <dd>{{.Params.size}}</dd>
                <dt class="monster__stat-block__speed">Speed</dt>
                <dd data-speed="{{ if .Params.speed }}{{ delimit .Params.speed "; " }}{{ end }}">
                  {{ if .Params.speed }}{{ delimit .Params.speed "; "}}{{ end }}</dd>
              </dl>
            </div>

            <div class="stat-block-selector">
              <label for="convert-stat-block">Convert stat block to</label>
              <select name="convert-stat-block" class="convert-stat-block">
                <option value="knave">Knave</option>
                <option value="bx-dnd">OD&D and B/X D&D</option>
                <option value="adnd">AD&D 1e/2e</option>
                <option value="5e">D&D 5e</option>
              </select>
              <button style="line-height: 1.4;" type="button" data-micromodal-trigger="converter-modal"><i
                  class="fas fa-question-circle"></i></button>
            </div>
          </div>
          {{ if .Params.image }}
          <div class="col">
            <img class="monster__image" src="{{ .Params.image }}">
            <small>{{ .Params.image_description }}</small>
          </div>
          {{ end }}
        </div>

        <div class="monster__description">
          {{ .Content }}
        </div>
        {{ if .Params.design_notes }}
        <div style="font-style: italic;">
          <p><strong>Design notes: </strong>{{ .Params.design_notes }}</p>
        </div>
        {{ end }}
      </div>
      {{ with .Site.DisqusShortname }}
      <div>
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
      <aside class="post-meta">
        <div>
          <span class="post-meta__heading">Posted</span>
          <time> {{ .Date.Format "2 January 2006" }}</time>
        </div>
        <div>
          {{ partial "taxonomy_list.html" (dict "Param" "categories" "Context" .Params.categories "Site" .Site "ShowPreamble" true) }}
        </div>
        <div>
          {{ partial "taxonomy_list.html" (dict "Param" "tags" "Context" .Params.tags "ShowPreamble" true) }}
        </div>
      </aside>
    </article>
    {{ partial "comments.html" . }}
  </main>
  {{ partial "sidebar.html" . }}
</div>

<div class="modal micromodal-slide" id="converter-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="converter-modal-title">
      <header class="modal__header">
        <h3 class="modal__title" id="converter-modal-title">
          Stat block conversion
        </h3>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="converter-modal-content">
        <p>
          Conversions use a mish-mash of guidelines from <em>Knave</em>, <em>Swords & Sorcery</em>, and <a
            href="https://web.archive.org/web/20190225223936/http://swshinn.com/dnd-5e/5e-to-1e-combat-tracker/">Stan
            Shinn</a>.
        </p>
        <p>
          Conversions, especially those for D&D 5e, are very approximate and not playtested - they <strong>will</strong>
          require adjustments at your table.
        </p>
      </main>
    </div>
  </div>
</div>

<script type="module">
  import MicroModal from '/src/node_modules/micromodal/dist/micromodal.es.js';
  MicroModal.init();
</script>

<script type="module">
  import { DiceRoller } from '/src/node_modules/rpg-dice-roller/lib/esm/bundle.js';
  const roller = new DiceRoller();
  // Adapted from https://drive.google.com/file/d/0Byr-i7lu1I5INUxiaVRuSzk4dFU/
  const firstToFifthAC = {
    1: "19",
    2: "18",
    3: "17",
    4: "17",
    5: "15",
    6: "15",
    7: "15",
    8: "15",
    9: "14",
    10: "14",
    11: "14",
    12: "14",
    13: "13",
    14: "13",
    15: "13",
    16: "13",
    17: "12",
  }
  const HDBySize = {
    "tiny": "d4",
    "small": "d6",
    "medium": "d8",
    "large": "d10",
    "huge": "d12",
    "gargantuan": "d20"
  }
  function isNumeric(num) {
    return !isNaN(num)
  }
  $(".roll-hp").click(function () {
    let hdValue = $('.monster__stat-block__hd').next('dd').find('.value').text().split(/([+-])/);
    console.log(hdValue);
    let dieCount = hdValue[0];
    let operator = hdValue[1] || "";
    let modifier = hdValue[2] || "";
    let result = $('.monster__stat-block__hd').next('dd').find('.result');
    let dieIcon = $('.monster__stat-block__hd').next('dd').find('button').find('i');
    let system = $('.convert-stat-block').val();
    let dieType;
    if (system === "knave" || system === "bx-dnd" || system === "adnd") {
      dieType = 'd8';
    } else if (system === "5e") {
      let size = $('.monster__stat-block__size').next('dd').text().toLowerCase();
      dieType = HDBySize[size];
    }
    let roll = roller.roll(dieCount + dieType + operator + modifier);
    dieIcon.toggleClass("rolling");
    result.text(" (" + roll.notation + "; " + roll.total + " HP)");
  })
  $('.convert-stat-block').change(function () {
    let system = $(this).val();
    let acLabel = $('.monster__stat-block__ac');
    let acValue = $('.monster__stat-block__ac').next('dd').data('ac');
    let acResult = $('.monster__stat-block__ac').next('dd');
    let hdValue = $('.monster__stat-block__hd').next('dd').data('hd');
    let hpResult = $('.monster__stat-block__hd').next('dd').find('.result');
    let speedValues = $('.monster__stat-block__speed').next('dd').data('speed');
    let speedResult = $('.monster__stat-block__speed').next('dd');
    if (system === "knave") {
      acLabel.text("Armor Defence");
      acResult.text(acValue);
      speedResult.text(speedValues);
    } else if (system === "bx-dnd") {
      acLabel.text("Armor Class");
      acResult.text(19 - acValue);
      // Movement conversion adapted from Swords & Wizardy
      let speedValues = $('.monster__stat-block__speed').next('dd').data('speed');
      let speedArray = speedValues.match(/\d+/g).map(Number);
      let splitSpeedValues = speedValues.split(' ');
      let newSpeed = splitSpeedValues.map(function (value) {
        if (isNumeric(value)) {
          let convertedValue = Math.floor(value * 3 / 10);
          return convertedValue;
        } else if (value === "feet") {
          let convertedValue = '';
          return convertedValue;
        } else if (value === "feet;") {
          let convertedValue = ';';
          return convertedValue;
        } else {
          return value;
        }
      })
      newSpeed = newSpeed.join(" ").replace(" ;", ";");
      speedResult.text(newSpeed);
    } else if (system === "adnd") {
      acLabel.text("Armor Class");
      acResult.text(20 - acValue);
    } else if (system === "5e") {
      // AC calculation from https://drive.google.com/file/d/0Byr-i7lu1I5INUxiaVRuSzk4dFU/
      acLabel.text("Armor Class");
      acResult.text(firstToFifthAC[hdValue] - hdValue);
      speedResult.text(speedValues);
    }
    hpResult.text("");
  })
</script>

{{ end }}